@import "../../Styles/global";

.wrapper {
  width: 100vw;
  min-height: 48.4rem;
  background-image: url("../../assets/img/Backgrounds/Background9.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  gap: 15.8rem;

  img {
    width: 70.5rem;
    height: 56rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 4.4rem;

    article {
      display: flex;
      flex-direction: column;
      gap: .8rem;

      h2 {
        @include title1;
        color: $gray900;
      }

      p {
        @include title6;
        color: $gray900;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      li {
        @include baseRegular;
        color: $gray800;
        display: flex;
        align-items: flex-start;
        width: 35.8rem;
        gap: 1.6rem;
      }

      li:before {
        content: "";
        background-image: url("../../assets/icons/other/checkSVG.svg");
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 1.6rem;
        min-height: 1.6rem;
        margin-top: .5rem;
      }
    }
  }
}