.coursePage {
  .pageTitle {
    margin-bottom: 12rem;
  }

  .aboutCourse {
    margin-bottom: 11.4rem;
  }

  .group {
    background-image: url("../../../assets/img/Background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 6.6rem;

    .aboutCurator {
      margin-bottom: 18rem;
    }
  }
}