.coursePage {
  .pageTitle {
    margin-bottom: 12rem;
  }

  .aboutCourse {
    margin-bottom: 11.4rem;
  }

  .group {
    background-image: url("../../../assets/img/Backgrounds/Background1.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 6.6rem;
    margin-bottom: 5.4rem;

    .aboutCurator {
      margin-bottom: 18rem;
    }

    .mainSteps {
      margin-bottom: 18rem;
    }

    .discount {
      margin-bottom: 18rem;
    }

    .forWhom {
      margin-bottom: 12.6rem;
    }
  }

  .lessons {
    margin-bottom: 12rem;
  }

  .groupGray {
    background-image: url("../../../assets/img/Backgrounds/Background.png");
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 10rem;
    margin-bottom: 12rem;

    .testimonials {
      margin-bottom: 18rem;
    }
  }

  .courseCarousel {
    margin-bottom: 18.5rem;
  }
}

