@import "../../Styles/global";

.wrapper {
  width: 100%;
  height: 46.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  background-image: url("./img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 19.2rem;

  .type {
    @include title6;
    color: $primary;
  }

  .title {
    @include title1;
    color: $gray900;
    width: 102rem;
    text-align: center;
  }
}