.aboutUsPage {
  padding-top: 15.2rem;

  .aboutUs {
    margin-bottom: 18rem;
  }

  .group {
    padding-top: 23.7rem;
    background-image: url("../../assets/img/Backgrounds/Background1.png");
    background-size: contain;
    background-repeat: no-repeat;

    .values {
      margin-bottom: 18rem;
    }

    .directions {
      margin-bottom: 18rem;
    }

    .process {
      margin-bottom: 19.2rem;
    }
  }

  .testimonials {
    background-image: url("../../assets/img/Backgrounds/Background.png");
    background-size: cover;
    padding-top: 16.6rem;
    padding-bottom: 18rem;
    margin-bottom: 10rem;
  }

  .latestBlog {
    margin-bottom: 18rem;
  }
}