/*------------null style--------------*/

:root {
  --fontSize: 0.52083333vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", Serif, serif;
}

*::before,
*::after {
  display: block;
  box-sizing: border-box;
}


html, body {
  font-size: var(--fontSize);
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input, textarea {
  outline: none;
}

button {
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

/*--------------------------*/


/*------------text--------------*/

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}


/*--------------------------*/