@import "../../../Styles/global";

.input {
  display: flex;
  flex-direction: column;
  gap: .8rem;

  label {
    color: $gray800;
  }

  span.success {
    color: $success;
  }

  span.error {
    color: $primary;
  }


  .customInput {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    input, textarea {
      padding-left: 1.6rem;
      background: white;
      border: .1rem solid $gray400;
      border-radius: .4rem;
    }

    input::placeholder,
    textarea::placeholder {
      color: $gray600;
    }

    input:focus,
    textarea:focus {
      border: .1rem solid rgba(255, 63, 58, 0.4);
      box-shadow: 0 8rem 8rem -2rem rgba(255, 63, 58, 0.08), 0 3rem 2.4rem -1rem rgba(255, 63, 58, 0.05), 0 1.2rem 1rem -.6rem rgba(255, 63, 58, 0.04), 0 .4rem .4rem -.4rem rgba(30, 33, 44, 0.03);
    }

  }

  .customInput:after {
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    margin-right: 1.6rem;
  }

  .error {
    input, textarea {
      border: .1rem solid $primary;
    }
  }

  .success {
    input, textarea {
      border: .1rem solid $success;
    }
  }

  .error:after {
    background-image: url("../../../assets/icons/other/warningSVG.svg");
  }

  .success:after {
    background-image: url("../../../assets/icons/other/successSVG.svg");
  }
}

[data-theme="light"].input {
  .customInput {

    input {
      background: rgba(255, 255, 255, 0.12);
      border: .1rem solid rgba(255, 255, 255, 0.20);
      color: white;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    input:focus {
      border: .1rem solid rgba(255, 63, 58, 0.4);
      box-shadow: 0 8rem 8rem -2rem rgba(255, 63, 58, 0.08), 0 3rem 2.4rem -1rem rgba(255, 63, 58, 0.05), 0 1.2rem 1rem -.6rem rgba(255, 63, 58, 0.04), 0 .4rem .4rem -.4rem rgba(30, 33, 44, 0.03);
    }

    input::placeholder {
      color: white;
      opacity: .6;
    }

  }

  .error {
    input {
      border: .1rem solid $primary;
    }
  }

  .success {
    input {
      border: .1rem solid $success;
    }
  }
}

.textArea {
  label, span, input, textarea {
    @include baseRegular;
  }

  input, textarea {
    padding-top: 1.3rem;
    min-height: 12.8rem;
    max-height: 12.8rem;
  }
}

.large {
  label, span, input {
    @include baseRegular;
  }

  input {
    height: 5.2rem;
  }
}

.medium {
  label, span, input {
    @include smallRegular;
  }

  input {
    height: 4.4rem;
  }
}

.small {
  label, span, input {
    @include extraSmallRegular;
  }

  input {
    height: 3.6rem;
  }
}




