@import "../../Styles/global";

.controlButton {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background: rgba(0, 0, 0, 0);
  transition: all .3s ease-in-out;

  svg {
    width: 1.8rem;
    height: 1.1rem;
    fill: $gray800;
    transition: all .1s ease-in-out;
  }
}

.controlButton:hover {
  background: $primary;

  svg {
    fill: white;
  }
}

.controlButton:disabled {
  opacity: 0.5;
}

.controlButton:disabled:hover {
  background: none;

  svg {
    fill: black;
  }
}