@import "../../Styles/global";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  background-image: url("../../assets/img/Background2.png");
  background-size: cover;
  background-repeat: no-repeat;

  article {
    color: $gray900;
    text-align: center;

    p {
      @include title6;
    }

    h2 {
      @include title1
    }
  }

  .controls {
    display: flex;
    gap: 4rem;

    .control {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      p {
        @include baseBold;
        color: $gray800;
      }
    }
  }
}

