@import "../../Styles/global";

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  .content {
    background-image: url("../../assets/img/Backgrounds/Background3.png");
    width: 123rem;
    height: 35.4rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11.4rem;
    padding: 6rem 10.5rem;

    img {
      width: 30.8rem;
      height: 23.4rem;
    }

    .form {
      article {
        h2 {
          @include title2;
          color: $gray900;
        }

        margin-bottom: 4.8rem;
      }

      label {
        margin-top: 2.4rem;
      }
    }

  }
}

.forBlogPageWrapper {
  width: 100%;
  background: $gray200;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;

    img {
      width: 50rem;
      height: 45.4rem;
    }

    .form {
      article {
        width: 60rem;

        h2 {
          @include title2;
          color: $gray900;
        }

        margin-bottom: 4.8rem;
      }
    }
  }
}