@import "../../Styles/global";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;

    p {
      @include title6;
      color: $gray900;
    }

    h2 {
      @include title1;
      color: $gray900;
    }
  }

  .content {
    display: flex;
    gap: 7rem;
    align-items: center;

    .carousel {
      width: 102rem;
      overflow: hidden;
      box-shadow: $small;

      .contentCarousel {
        display: flex;
        transition: all .3s ease-in-out;
      }

      .block {
        min-width: 102rem;
        height: 34.4rem;
        border-radius: .4rem;
        background: white;
        padding-top: 6.4rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        .text {
          margin-left: 10.5rem;
          width: 75.2rem;
          @include leadRegular;
          color: $gray800;
          display: inline-flex;
          gap: 3rem;
        }

        .text:before {
          content: "";
          min-width: 2.8rem;
          min-height: 2rem;
          background-image: url("../../assets/icons/other/braces.svg");
          background-repeat: no-repeat;
        }

        .author {
          margin-left: 16.3rem;
          display: flex;
          align-items: center;
          gap: 2rem;

          img {
            width: 7.2rem;
            height: 7.2rem;
            border-radius: 50%;
            background: #000;


          }

          .article {
            display: flex;
            flex-direction: column;
            gap: .4rem;

            h4 {
              @include baseRegular;
              color: $gray900;
            }

            p {
              @include smallRegular;
              color: $gray700;
            }
          }
        }
      }
    }
  }

  .dots {
    display: flex;
    gap: 1.2rem;

    span {
      width: 3rem;
      height: .6rem;
      border-radius: .4rem;
      background: $gray500;
      cursor: pointer;
    }

    .active {
      background: $gray800;
    }
  }
}




