.wrapper {
  min-height: 100%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.68);
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;

  .login {
    width: 48.6rem;
    height: 65.3rem;
    background: white;
  }
}