.coursesPage {
  padding-top: 15.2rem;

  .courses {
    margin-bottom: 12rem;
  }

  .testimonials {
    background-image: url("../../assets/img/Backgrounds/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
    padding-bottom: 10rem;
    margin-bottom: 12rem;
  }

  .certificate {
    margin-bottom: 25rem;
  }
}