@import "../../../../../Styles/global";

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  position: relative;

  .password {
    display: flex;
    align-items: flex-start;

    button {
      width: 4.7rem;
      height: 4.4rem;
      background: white;
      display: grid;
      place-content: center;
      margin-top: 2.9rem;
      border: .1rem solid $gray400;
      border-left: none;
      border-top-right-radius: .4rem;
      border-bottom-right-radius: .4rem;

      svg {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }

  .forgotPass {
    background: none;
    @include smallRegular;
    color: $primary;
  }

  .forgotPass:hover {
    text-decoration: underline;
  }

  .dontAcc {
    @include smallRegular;
    color: $gray900;
  }

  .divider {
    position: absolute;
    width: 48.6rem;
    height: .1rem;
    background: $gray300;
    left: -4.8rem;
    bottom: 8rem;
  }

  .social {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    margin-top: 2.4rem;

    p {
      color: $gray700;
      @include smallRegular;
    }

    .icons {
      display: flex;
      gap: 1.2rem;

      svg {
        fill: $gray700;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }


      svg:hover {
        fill: $primary;
      }
    }

  }
}