@import "../../Styles/global";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;

  article {
    display: flex;
    gap: 76.7rem;
    align-items: center;

    .text {
      display: flex;
      flex-direction: column;
      gap: .8rem;

      p {
        @include title6;
        color: $gray900;
      }

      h2 {
        @include title2;
        color: $gray900;
      }
    }
  }


  .content {
    display: grid;
    grid-template-columns: repeat(2, 60rem);
    grid-template-rows: repeat(3, 21.4rem);
    gap: 3rem;

    .course {
      box-shadow: $small;
      border: .1rem solid #E5E8ED;
      border-radius: .4rem;
      cursor: pointer;
      transition: all .3s ease-in-out;
      display: flex;

      .img {
        min-width: 21.4rem;
        height: 21.3rem;
        background-image: url("./img/background.png");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
          height: 20rem;
          width: 16rem;
        }
      }

      .info {
        padding: 3.2rem;

        .branch {
          display: block;
          width: fit-content;
          padding: .1rem .8rem .1rem .8rem;
          border-radius: .4rem;
          @include smallRegular;
          color: white;
          margin-bottom: 2rem;
        }

        .Marketing {
          background: $success;
        }

        .Management {
          background: $info;
        }

        .hr {
          background: $warning;
        }

        .Design {
          background: rgba(245, 47, 110, 1);
        }

        .title {
          @include leadBold;
          color: $gray900;
          margin-bottom: 2rem;
        }

        .price {
          @include largeRegular;
          color: $gray700;
          display: inline-flex;
          align-items: center;
          gap: .8rem;

          span {
            @include largeBold;
            color: $primary;
          }
        }
      }
    }

    .course:hover {
      box-shadow: $regular;
    }


  }
}